<div class="row align-items-center ">
  <div class="col-auto me-auto mb-3">
    <a class="btn btn-outline-dark" href="/records/new">Create</a>
  </div>
  <div class="ml-auto">
    <form action="/">
      <div>
        <select class="form-select col" id="filter" name="filter" onchange="this.form.submit()">
          {{#if categoryName}}
          <option value="{{categoryId}}" hidden="hidden" selected="selected">{{categoryName}}</option>
          {{/if}}
          <option value="all">全部</option>
          {{#each categories}}
          <option value="{{ this._id }}">{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </form>
    {{!-- message --}}
    <div class="success-msg mt-3" style="width: 400px">
      {{>message}}
    </div>
  </div>
</div>
<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-auto me-auto">
        <h2 class="record-category-icon"><i class="{{ this.icon }}"></i></h2>

        <h4 style="display: inline; vertical-align: middle;">{{ this.name }}</h4>
        <p>
        <h6 style="display: inline; vertical-align: middle;">${{ this.amount }}</h6>
        </p>
        <p class="record-date text-muted mb-0">{{ this.date }}</p>
      </div>
      <div class="ml-auto ">
        <a class="btn btn-success " href="./records/{{ this._id }}/edit">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>