<a href="./records/new">Create</a>
<ul>
  {{#each records}}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    
    {{this.categoryId}}

<div class="ms-3">
  <h4 class="record-name fw-bold mb-1">{{ this.name }}</h4>
  <h5 class="record-name fw-bold mb-1">${{ this.amount }}</h5>
  <p class="record-date text-muted mb-0">{{ this.date }}</p>
</div>

    <a href="./records/{{ this._id }}/edit">edit</a>
<form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>
  </li>
  {{/each}}
</ul>